/* SET FONT FOR ENTIRE WEBAPP */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/*Remove white edges from the page and ensure the footer stays at the bottom*/

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}


/*Set header div's background and pads the text*/

#header {
    padding: 25px;
    background-color: #15303A;
}

#header h1 {
    margin: 0px;
    color: #F7F4F3;
}


/*
The main content of the page is set to have a width and be centred for a more comfortable reading experience
Flex is to ensure the footer displays correctly
*/

.content {
    width: 70%;
    margin: auto;
    flex: 1 0 auto;
    padding: 0px 0px 20px 0px;
}


/* 
Tiles are used to display the information about jobs and customers when there is multiple to be shown
*/


/*
Allows the tiles to dynamically fill the page
*/

.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    grid-gap: 1rem;
    /* This is the standardized property now, but has slightly less support */
    /* gap: 1rem */
}


/*
Adjusts the tile appearance
*/

.tile {
    background: #71A7B7;
    padding: 25px;
    border-radius: 1rem;
    transition: 0.5s;
}


/*
Changes the tile's appearance when the mouse hoivers on it, this indicates it is clickable
*/

.tile:hover {
    background: #7fcce4;
    box-shadow: 5px 5px 10px #888888;
}

h3 {
    margin: 0px;
}

.property {
    flex-basis: content;
    margin: 0px 10px;
}

.property * {
    margin: 0px;
}

textarea {
    width: 100%;
}


/* The sidebar menu */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #15303A;
    overflow-x: hidden;
    padding-top: 87px;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}


/* The sidebar links */

.sidebar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.sidebar h3 {
    background-color: #1F4958;
    color: #F7F4F3;
    padding: 12.5px;
}

.sidebar ul li {
    padding: 10px;
    background-color: #1F4958;
    margin: 0px;
    transition: all .1s ease-in-out;
    color: #F7F4F3;
}

.sidebar ul li:hover {
    padding: 20px 10px;
    background-color: #15303a;
    margin: 0px;
    color: #9C6964;
}

.sidebar a {
    text-decoration: none;
    color: #111;
}


/*The button to open the sidebar*/

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #1F4958;
    color: #F7F4F3;
    padding: 10px 15px;
    border: none;
    transition: 0.5s;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.openbtn:hover {
    background-color: #15303a;
    color: #9C6964;
    position: sticky;
    top: 0;
}


/*holds the content that is not in the sidebar, uses flec to ensure it flows correctly*/

#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 0px;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*prevent blue links*/

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}


/*Footer 
*/

.footer {
    flex-shrink: 0;
    padding: 20px;
    background-color: #15303A;
    color: #9C6964;
}